---
import { Icon } from 'astro-icon';

const defaultItems = [
	[
		{
			title: 'Integration with Tailwind CSS',
			description:
				'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla.',
			icon: 'tabler:brand-tailwind',
		},
		{
			title: 'Ready-to-use Components',
			description:
				'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla.',
			icon: 'tabler:components',
		},
		{
			title: 'Best Practices',
			description:
				'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla.',
			icon: 'tabler:list-check',
		},
	],
	[
		{
			title: 'Excellent Page Speed',
			description:
				'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla.',
			icon: 'tabler:rocket',
		},
		{
			title: 'Frequently updated',
			description:
				'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla.',
			icon: 'tabler:arrows-right-left',
		},
		{
			title: 'Open to new ideas and contributions',
			description:
				'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla.',
			icon: 'tabler:bulb',
		},
	],
];

const { items = defaultItems, name = 'features' } = Astro.props;
---

<section class="scroll-mt-16 border-t border-gray-200 dark:border-slate-800" id={name}>
	<div class="mx-auto max-w-6xl px-4 py-16 lg:px-8 lg:py-20">
		<div class="mb-10 max-w-xl sm:text-center md:mx-auto md:mb-12 lg:max-w-2xl">
			<!-- <div class="grid mx-auto space-y-6 md:grid-cols-2 md:space-y-0">
                <slot />
            </div> -->
			<p class="font-semibold uppercase tracking-wide text-primary-600 text-base dark:text-primary-200">
				<a href="/features">Features</a>
			</p>
			<h2 class="leading-tighter font-heading mb-4 font-bold tracking-tighter text-4xl md:text-5xl">
				What's interesting about <span class="whitespace-nowrap">Ayame6</span>
			</h2>
			<p class="mx-auto max-w-3xl text-mauve-600 dark:text-mauve-200 text-xl sm:text-center">
				Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque rem aperiam, eaque ipsa
				quae.
			</p>
		</div>
		<div class="mx-auto grid space-y-6 md:grid-cols-2 md:space-y-0">
			{
				items.map((subitems) => (
					<div class="space-y-8 sm:px-8">
						{subitems.map(({ title, description, icon, href }) => (
							<div class="flex max-w-md flex-row">
								<div class="mb-4 mr-4">
									<div class="flex h-12 w-12 items-center justify-center rounded-full bg-primary-500 dark:bg-primary-700">
										{icon && <Icon name={icon} class="icon-light h-6 w-6 text-white" />}
									</div>
								</div>
								<div>
									<h3 class="mb-3 font-bold text-xl">{(href && <a href={href}> {title} </a>) || title}</h3>
									<p class="text-mauve-600 dark:text-mauve-200">{description}</p>
								</div>
							</div>
						))}
					</div>
				))
			}
		</div>
	</div>
</section>
