---
import { Picture } from '@astrojs/image/components';
import PostTags from '~/components/atoms/Tags.astro';

import { getPermalink } from '~/utils/permalinks';
import { findImage } from '~/utils/images';
import { getFormattedDate } from '~/utils/utils';

const { post } = Astro.props;

const image = await findImage(post.image);
---

<article class={`max-w-md mx-auto md:max-w-none grid gap-6 md:gap-8 ${image ? 'md:grid-cols-2' : ''}`}>
	{
		image && (
			<a class="group relative block" href={getPermalink(post.slug, 'post')}>
				<div class="relative h-0 overflow-hidden rounded bg-gray-400 pb-[56.25%] shadow-lg text-mauve-700 md:pb-[75%] lg:pb-[56.25%]">
					{image && (
						<Picture
							src={image}
							class="absolute inset-0 mb-6 h-full w-full rounded bg-gray-400 object-cover shadow-lg dark:bg-mauve-200"
							widths={[400, 900]}
							sizes="(max-width: 900px) 400px, 900px"
							alt={post.title}
							aspectRatio="16:9"
						/>
					)}
				</div>
			</a>
		)
	}
	<div>
		<header>
			<h2 class="font-heading mb-2 font-bold leading-snug text-xl sm:text-2xl">
				<a
					class="underline decoration-dotted decoration-1 underline-offset-4 transition duration-200 ease-in hover:text-primary-600"
					href={getPermalink(post.slug, 'post')}
				>
					{post.title}
				</a>
			</h2>
		</header>
		<p class="text-md flex-grow sm:text-lg">
			{post.excerpt || post.description}
		</p>
		<footer class="mt-4">
			<div>
				<span class="dark:text-text-mantle-400 text-mauve-500">
					<time datetime={post.publishDate}>{getFormattedDate(post.publishDate)}</time> ~
					{Math.ceil(post.readingTime)} min read
				</span>
			</div>
			<div class="mt-4">
				<PostTags tags={post.tags} />
			</div>
		</footer>
	</div>
</article>
